.level1_1, .level2_1, .level3_1, .secondWay {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: green;
}

.level1_1 {
    z-index: 2;
}

.level2_1 {
    margin-top: 5px;
    margin-left: 5px;
    top: -100px;
    opacity: 0.5;
    z-index: 1;
}

.level3_1 {    
    margin-top: 5px;
    margin-left: 10px;
    top: -200px;
    opacity: 0.2;
    z-index: 0;
}

.secondWay {
    box-shadow: 5px 5px 0 rgba(0, 128, 0, 0.5), 10px 10px 0 rgba(0, 128, 0, 0.25);
}

.level1_3 {
    position: relative;
    background-color: rgb(0, 128, 0);
    height: 100px;
    width: 100px;
}
.level1_3::before, .level1_3::after {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;

}

.level1_3::before {
    top: 5px;
    left: 5px;
    background-color:rgba(0, 128, 0, 0.5)
}

.level1_3::after{
    top: 10px;
    left: 10px;
    background-color: rgba(0, 128, 0, 0.25);
}