.taskSide {
    width: 20%;
    height: 100%;
    background: #EBECF0;
    border-radius: 10px;
    margin: 0px 24px 0px 24px;
}

.blockBtn {
    border-width: 0;
    background: #EBECF0;
}
.topSide {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.main {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 75px;
}
.mainSide {
    background-color: white;
    margin: 12px;
    padding: 7px 9px 6px 8px;
    border-radius: 5px;
}
.bottomButton {
    color: #5E6C84;
}
.addCard {
    border-width: 0;
    margin-left: 4px;
    margin-bottom: 8px;
    background: #EBECF0;
}
