footer {
    width: 100%;
    height: 55px;
    
    
    position: fixed;
    left: 0;bottom: 0px;
    background: #0067A3; /* Цвет фона */ 

    display: flex;
    align-items: center;
    justify-content: space-between;


}
.text__left-text {
    display: flex;
    justify-content: space-between;
    width: 333px;

    margin-left: 67px;
}
.author {
    margin-right: 24px;
}
