.slider {
    display: flex;
    justify-content: center;
}
#slide {
    width: 500px;
    height: 300px;

    opacity:0; 
    transition: 1s; 
    animation: show 3s 1; 
    animation-fill-mode: forwards;
}
button {
    height: 300px;
}
button:hover{
    cursor: pointer;
}
button:target #slide{
    opacity:0; 
    transition: 1s; 
    animation: show 3s 1; 
    animation-fill-mode: forwards;
}

.arrow {
    width: 20px;
    height: 20px;
}
@keyframes show {
    0%{
        opacity:0;
    }       
    100% {
         opacity:1;
    }
}