h1, h2, h3 {
    background-color: rgb(204, 153, 102);
    font-style: italic;
}
.lists {
    background-color: #d9b38c;
}
.lists a {
    color: #604020;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQlF5al0CbUr78Fv56D-pS2TOaxjrw-xH3zru5BERyr3Kip1KXo);
}
#cats {
    width : 150px;
    height: 100px;
}
hr {
    color : #d2fafb;
}
@font-face {
    font-family: "AaarghRegular";
    src: url("../fonts/AaarghRegular/AaarghRegular.eot");
    src: url("../fonts/AaarghRegular/AaarghRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AaarghRegular/AaarghRegular.woff") format("woff"),
    url("../fonts/AaarghRegular/AaarghRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
pre {
    font-family: "AaarghRegular";
}